pygfx>=0.3.0
numpy
pypng
six
cmap
trimesh
importlib-metadata>=4.6  # 4.6 is the earliest supporting entry_points(group=XXXX)

#extra: all

jupyter_rfb
PySide6-Essentials
ipywidgets  # ipywidget is installed with jupyter_rfb
sidecar

#extra: docs

mkdocs
mkdocs-material[imaging]
mkdocstrings-python
mkdocs-minify-plugin
mkdocs-literate-nav
mkdocs-gen-files
mkdocs-glightbox
mkdocs-section-index

#extra: dev

pytest